/*RESET Y CONFIG GLOBLAL DEL PROYECTO*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    //position: relative;
}

a{
    text-decoration: none;
    color: #000;
}

.grid-container >*{
    border: 1px solid #000;
}

.container-btn > *{
    margin: 20px;
}

// ESTILOS GLOBALES PARA CARDS, BASES PARA EXTENDS
.card{
    border-radius: 4px;
    padding: 10px;
    box-shadow: 1px 1px 1px 5px rgba(0,0,0,0.3);
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 80%;    
}

.avatar{
    width:200px;
    height: 200px;
    border-radius: 100%;
    border: 4px inset #fff;
    margin: 15px;
    opacity: 0.6;
    &:hover{
        opacity:1.6;
        transform: scale(1.1);
    }
}

.title{
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 10px;
    opacity: 0.87;
    margin: 15px;
}

.small{
    font-weight: 200;
    font-size: 12px;
    opacity:0.7;
    margin: 15px;
}

//estilo general a etiquetas de texto

p{
    font-weight: bold;
    margin: 10px 0;
}











